{%extends "website/base.html"%}
{%load crispy_forms_tags%}
{%block content%}
<div class="content-section">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Confidence</th>
            </tr>
        </thead>
        <tbody>
            {% for data in association_rules %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    {{data.dad}}
                </td>
                <td>{{data.sup}}</td>
                <td>{{data.minconf}}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
</div>
{%endblock content%}