{%extends "website/base.html"%}
{%load crispy_forms_tags%}
{%block content%}
<div class="content-section">
    <div id="shownumberrule" style="font-weight: bold; text-align: center;">
        <p>Number line of data: {{lendata}}</p>
        <p>Number of mining rules, using algorithm {{selectedAlgorithm}}: {{lenrules}}</p>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Antecedents</th>
                <th scope="col">Consequents</th>
                <th scope="col">Support</th>
                <th scope="col">Confidence</th>
                <th scope="col">Lift</th>
            </tr>
        </thead>
        <tbody>
            {% for data in association_rules %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    {% for i in data.antecedents %}
                    <span>{{ i }} , </span>
                    {% endfor %}
                </td>
                <td>
                    {% for i in data.consequents %}
                    <span>{{ i }} , </span>
                    {% endfor %}
                </td>
                <td>{{data.support }}</td>
                <td>{{data.confidence}}</td>
                <td>{{data.lift}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%endblock content%}